PORT=8080

DATABASE_URL=r2dbc:postgresql://localhost:5432/wordonlinedb
DATABASE_USERNAME=
DATABASE_PASSWORD=

JWT_PRIVATE_KEY=file:/path/to/private.pem
JWT_PUBLIC_KEY=file:/path/to/public.pem
JWT_FILE_PATH=/path/to/wordonline-server-jwt

ACCOUNT_SERVER_URL=http://localhost:8081

REDIS_HOST=localhost
REDIS_PORT=6379
